$main-color: #70C05B;
$selected-item-color: #FCD5BA;
$bar-item-color: #FF6633;
$icon-size: 24px;
$select-many-width: 245px;


@mixin radius {
  border-radius: 4px;
}

.select-many {
  width: $select-many-width;

  display: flex;
  flex-direction: column;
}

.select-list__background {
  background-color: white;

  display: inline-block;
  position: absolute;
  overflow: visible;
  z-index: 2;

  width: $select-many-width;

  @include radius;
  border-width: 1px;
  border-color: $main-color;
  border-style: solid;

  box-shadow: 4px 8px 16px rgba($main-color, 0.2);
}
.select-many__item {
  text-wrap-mode: nowrap;
  padding: 8px 8px 8px 16px;
  overflow-x: scroll;
  scrollbar-width: none;
}
.select-many__item__selected {
  background-color: $selected-item-color;
}
.select-many__bar {
  display: flex;
  padding: 8px;
  gap: 2px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.select-many__bar__items {
  overflow: scroll;
  scrollbar-width: none;
  display: flex;
  gap: 4px;
  flex-direction: row;
}
.select-many__bar__picked {
  @include radius;
  color: white;
  display: flex;
  text-wrap-mode: nowrap;
  align-items: center;
  padding: 0px 0px 0px 8px;
  background-color: $bar-item-color;
}
.select-many__bar__items__selecting-item {
  display: flex;
  align-items: center;
}